@CHARSET "UTF-8";
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
body,button,input,select,textarea{font-family:sans-serif}
body{
	background:#E9EAE2 url(../img/bg.png) -900px 0 no-repeat;
	position:relative;
	font-family:'Lato',Helvetica,Arial,sans-serif;
	padding-bottom:100px;
	padding-top:60px;
	margin:0;
}
.tile.single {background-color: #897970}

/*----twitter-----*/
.tile.twitter {background-color: #00AACD}
.tile.twitter:hover {background-color: #19B2D2; cursor:pointer; cursor:hand;}
.twitter a {
	display: block;
	width: 100%;
	height: 100%;
}
.twitter img {
	width:84px;
	height:85px;
	position: relative;
	left: 23%;
	top: 23%;
} 	
/*----facebook-----*/
.tile.facebook {background-color: #00AACD}
.tile.facebook:hover {background-color: #19B2D2; cursor:pointer; cursor:hand;}
.facebook a {
	display: block;
	width: 100%;
	height: 100%;
}
.facebook img {
	width:84px;
	height:85px;
	position: relative;
	left: 23%;
	top: 23%;
}
/*----linkedin-----*/
.tile.linkedin {background-color: #00AACD}
.tile.linkedin:hover {background-color: #19B2D2; cursor:pointer; cursor:hand;}
.linkedin a {
	display: block;
	width: 100%;
	height: 100%;
}
.linkedin img {
	width:84px;
	height:85px;
	position: relative;
	left: 23%;
	top: 23%;
}

/*----holders----*/
.holder
{
	border: 1px solid #999999 !important;
	box-shadow:0px 0px 10px #999999;
}
.holder-noleft
{
	border: 1px solid #999999 !important;
	box-shadow:0px 0px 10px #999999;
	/*box-shadow-left!!!!!!!!!!!!!!*/
	border-left: none !important;
}
.text-holder
{
	background-color: #A3FFFF;
	border: 1px solid #999999 !important;
	box-shadow:0px 0px 10px #999999;
}
.back-holder
{
	background-color: #FFFFFF;
}
/*-------------*/

/*-----text container------*/
.text-container
{
	padding: 3px;
	
}

.text-container span
{
	font-weight: bold;
}

.text-container p
{
	padding-left:10px;
	padding-right: 10px;
	line-height: 22px;
	font-size: 13px;
	color: #737373;
	font-style: italic;
	text-align: justify;
}

.text-container ul
{
	-webkit-padding-start: 10px;
}

.text-container li:before
{
	content: "\00BB \0020";
}
.text-container li
{	
	font-size: 13px;
	list-style-type: none;
	color: #737373;
	font-style: italic;
}
/*--------------------*/

/*---quick contact--*/
form #response {
	font-size:1.2em;
	margin-left:10px;
	color: red;
}
#quickcontact {
	padding-left:5px;
	padding-right:5px;
	height:auto;
	width: auto;
	font-family: Open Sans Condensed;
	color:#191919;
	font-size: 0.8em;
	line-height: 140%;
}
#quickcontact .title {
	font-size: 2.2em;
	text-align: right;
	padding: 10px;
}
#quickcontact .inputbox {
	color: #000000;
	background: transparent;
	display:block;
	width: 90%;
	padding: 7px;
	margin:0 auto;
	margin-bottom: 5px;
	border:1px solid #999999;
}
#quickcontact .inputbox:hover {
	border:solid 1px #666666;
}

#quickcontact .textareabox {
	color: #000000;
	background: transparent;
	display:block;
	width: 90%;
	max-width:90%;
	padding: 7px;
	margin:0 auto;
	margin-bottom: 5px;
	height: 100px;
	max-height:100px;
	border:1px solid #999999;
}

#quickcontact .textareabox:hover {
	border:solid 1px #666666;
}

#quickcontact .sendbutton {
	margin-right:7px;
	padding-right:20px;
	background: transparent;
	float:right;
	border:0;
	text-shadow:1px 1px 4px #ffffff;
	color: #000000;
	background: url(../img/send2.png) 94px 0px no-repeat;
}

#quickcontact .sendbutton:hover {
	cursor: pointer;
	cursor: hand;
	text-shadow:0px 1px 7px #000000; 
	color: #ffffff;
	background: url(../img/send2.png) 92px -19px no-repeat;
}
#quickcontact .sendbutton:active
{
	text-shadow:none;
}

/*------Contact information-----*/
.contact-information
{
	position:relative;
	float:left;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	width: auto; 
	height: 250px;
	font-family: Open Sans Condensed;
}
.contact-information-title
{
	position:relative;
	float: left;
	width: 100%;
	font-size: 2.5em;
	text-align: center;	
	
}
.contact-information-details
{
	position:relative;
	float: left;
	width: auto;
	margin-top: 10px;
}

.contact-information-details p
{
	position:relative;
	float: left;
	width: 100%;
	margin-left: 0px;
	margin-top: 8px;
	font-family:Arial;/*PT Sans*/
	font-weight: normal;
	font-size:24px;
	color:#444444; 
	text-align:left;
}
.contact-information-details p a
{
	position:relative;
	float: left;	
	font-family:Arial;/*PT Sans*/
	font-weight: normal;
	text-decoration: none;
	font-size:16px;
	color:#4c4c4c; 
	text-align:left;
}
.contact-information-details p a:hover
{
	font-family:Arial;/*PT Sans*/
	font-weight: normal;
	text-decoration: underline;
	font-size:16px;
	color:#4c4c4c; 
	text-align:left;
}
/*----------------------------------------*/










/*.container-item {background-color: #CCCCCC}*/
#content-holder
{
	width: 100%;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}
#globalNavBar{
	height:50px;
	margin-bottom:10px;
	line-height:1;
	font-size:14px;
	font-size:1.4rem;
	font-weight:400;
	text-transform:uppercase;
	position:fixed;
	width:100%;
	top:0;
	z-index:100;
	background:#000;
	background:-moz-linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2e2e2e),color-stop(45%,#151515),color-stop(50%,#020202));
	background:-webkit-linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
	background:-o-linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
	background:-ms-linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
	background:linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
}
#globalNavBar li.home {width: 150px;}
#globalNavBar li.home img {width:100%;margin: 15px 0;}
#globalNavBar ul{list-style:none;margin:0 auto;padding:0}
#globalNavBar ul.navRight{float:right}
#globalNavBar a{font-size:14px;font-size:0.75rem;color:#999;text-decoration:none;display:block;height:46px;letter-spacing:1.5px;border-bottom:4px solid transparent;text-shadow:1px 1px 4px #000;-webkit-transition:all ease .5s;-moz-transition:all ease .5s;transition:all ease .5s;}
#globalNavBar a:hover,#globalNavBar a:focus{color:#fff}
#globalNavBar li{padding-left:10px;padding-right:10px;height:50px;line-height:50px;float:left;width:100px;text-align:center;box-shadow:-1px -1px 0 0 #000,0px -2px 0 1px #1a1a1a}
#globalNavBar .compressed li{width:80px}
#globalNavBar .navRight li:first-child{width:100px}
#globalNavBar li.active a{border-bottom:4px solid #00AACD}
#globalNavBaru li.active a{color:#fff}
#ajax-loader {
	display: block;
	top: 48%;
	left: 48%;
	width: 38px;
	height: 38px;
	position: fixed;
}

#map-holder
{
	border: 1px solid #999999 !important;
	box-shadow:0px 0px 10px #999999;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
}