@CHARSET "UTF-8";
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
body,button,input,select,textarea{font-family:sans-serif}
body{
	background:#ffffff url(../img/bg.png) -900px 0 no-repeat;
	position:relative;
	font-family:'Lato',Helvetica,Arial,sans-serif;
	padding-bottom:100px;
	padding-top:60px;
	margin:0;
}
.tile.single {background-color: #897970}

/*----twitter-----*/
.tile.twitter {background-color: #00AACD}
.tile.twitter:hover {background-color: #19B2D2; cursor:pointer; cursor:hand;}
.twitter a {
	display: block;
	width: 100%;
	height: 100%;
}
.twitter img {
	width:84px;
	height:85px;
	position: relative;
	left: 23%;
	top: 23%;
} 	
/*----facebook-----*/
.tile.facebook {background-color: #00AACD}
.tile.facebook:hover {background-color: #19B2D2; cursor:pointer; cursor:hand;}
.facebook a {
	display: block;
	width: 100%;
	height: 100%;
}
.facebook img {
	width:84px;
	height:85px;
	position: relative;
	left: 23%;
	top: 23%;
}
/*----linkedin-----*/
.tile.linkedin {background-color: #00AACD}
.tile.linkedin:hover {background-color: #19B2D2; cursor:pointer; cursor:hand;}
.linkedin a {
	display: block;
	width: 100%;
	height: 100%;
}
.linkedin img {
	width:84px;
	height:85px;
	position: relative;
	left: 23%;
	top: 23%;
}

/*----holders----*/
.holder
{
	border: 1px solid #E0E0E0 !important;
	/*box-shadow:0px 0px 10px #999999;*/
}
.holder-noleft
{
	border: 1px solid #E0E0E0 !important;
	box-shadow:0px 0px 10px #999999;
	border-left: none !important;
	
	-webkit-box-shadow: 4px 0px 5px #999999;
	-moz-box-shadow:    4px 0px 5px #999999;
	box-shadow:         4px 0px 5px #999999;
}
.text-holder
{
	background-color: #ffffff;
	border: 1px solid #E0E0E0 !important;
	/*box-shadow:0px 0px 10px #999999;*/
}
.back-holder
{
	background-color: #FFFFFF;
}

#contact-container
{
	position: absolute;
	display: block;
	width: 98.5%;
	padding-left: 0px;
	padding-top: 10px;
	margin-top: 5px;
	border-top: 1px solid #E0E0E0;
}
/*-------------*/
/*---about-container----*/
.about-container
{
	position: relative;
	padding: 3px;
}
.about-container span
{
	font-size: 18px;
	padding-left: 45px;
	font-weight: bold;
}

.about-container ul
{
	-webkit-padding-start: 10px;
}

.about-container li:before
{
	content: "\203A \0020";
	color: #000000;
}
.about-container li
{	
	width: 45%;
	display:inline-block;
	font-size: 13px;
	list-style-type: none;
	color: #999999;
	font-style: italic;
	margin-bottom: 10px;
	vertical-align: top;
	margin-left: 15px;
	line-height: 17px;
	text-align: justify;
}
/*----------------------*/
/*-----text-container------*/
.text-container
{
	padding: 3px;
}

.text-container span
{
	width: 100%;
	display:block;
	text-align:center;
	font-weight: bold;
	color: #00AACD; 
}

.text-container p
{
	font-family: Arial;
	padding-left:10px;
	padding-right: 10px;
	line-height: 20px;
	font-size: 13px;
	color: #555;
	font-weight: bold;
	text-align: justify;
}

.text-container ul
{
	-webkit-padding-start: 10px;
}

.text-container ol
{
	-webkit-padding-start: 15px;
	display:block;
	width: 43%;
	float:left;
	margin: 0px;
}

.text-container ol li
{	
	font-size: 13px;
	color: #3399FF;
	font-style: italic;
	margin-bottom: 10px;
	margin-left: 10px;
}

.text-container ul li:before
{
	content: "\203A \0020";
	color:#000000;
}

.text-container ul li
{	
	font-family: Arial;
	font-size: 13px;
	list-style-type: none;
	color: #555;
	font-weight: bold;
	text-align: justify;
}
.text-container a
{
	text-decoration: none;
	color: #4D4D4D;
}
.text-container a:hover
{
	text-decoration: underline;
}

#leftcorner, #rightcorner 
{
	display: block;
	position: absolute;
	width: 15px;
	height:15px;
	background: url('../img/corners.png');
	
}
#rightcorner
{
	right:5px;
	top:5px;
	background-position: 47px 0px;
	
}
#leftcorner
{
	left:5px;
	bottom:5px;
	background-position: 63px 0px;
	
}
/*--------------------*/


/*---quick contact--*/
form #response {
	font-size:1.2em;
	margin-left:10px;
	color: red;
}

#quickcontact {
	padding-left:5px;
	padding-right:5px;
	height:auto;
	width: auto;
	font-family: Open Sans Condensed;
	color:#191919;
	font-size: 0.8em;
	line-height: 140%;
}
#quickcontact .title {
	font-size: 2.2em;
	text-align: right;
	padding: 10px;
}
#quickcontact .inputbox {
	color: #000000;
	background: transparent;
	display:block;
	width: 90%;
	padding: 7px;
	margin:0 auto;
	margin-bottom: 5px;
	border:1px solid #999999;
}
#quickcontact .inputbox:hover {
	border:solid 1px #666666;
}

#quickcontact .textareabox {
	color: #000000;
	background: transparent;
	display:block;
	width: 90%;
	max-width:90%;
	padding: 7px;
	margin:0 auto;
	margin-bottom: 5px;
	height: 100px;
	max-height:100px;
	border:1px solid #999999;
}

#quickcontact .textareabox:hover {
	border:solid 1px #666666;
}

#quickcontact .sendbutton {
	margin-right:7px;
	padding-right:20px;
	background: transparent;
	float:right;
	border:0;
	text-shadow:1px 1px 4px #ffffff;
	color: #000000;
	background: url(../img/send2.png) 94px 0px no-repeat;
}

#quickcontact .sendbutton:hover {
	cursor: pointer;
	cursor: hand;
	text-shadow:0px 1px 7px #000000; 
	color: #ffffff;
	background: url(../img/send2.png) 92px -19px no-repeat;
}
#quickcontact .sendbutton:active
{
	text-shadow:none;
}
/*---contact---*/
form #response {
	font-size:1.2em;
	margin-left:10px;
	color: red;
}

#contact {
	margin-right: 100px;
	margin-left: 15%;
	float:left;
	display:block;
	padding-left:5px;
	padding-right:5px;
	height:auto;
	width: 300px;
	font-family: Open Sans Condensed;
	color:#191919;
	font-size: 0.8em;
	line-height: 140%;
}
#contact .title {
	font-size: 2.2em;
	text-align: right;
	padding: 10px;
}
#contact .inputbox {
	height: 10px;
	color: #000000;
	background: transparent;
	display:block;
	width: 90%;
	padding: 7px;
	margin:0 auto;
	margin-bottom: 5px;
	border:1px solid #999999;
}
#contact .inputbox:hover {
	border:solid 1px #666666;
}

#contact .textareabox {
	color: #000000;
	background: transparent;
	display:block;
	width: 90%;
	max-width:90%;
	padding: 7px;
	margin:0 auto;
	margin-bottom: 5px;
	height: 50px;
	max-height:50px;
	border:1px solid #999999;
}

#contact .textareabox:hover {
	border:solid 1px #666666;
}

#contact #sendbutton {
	margin-right:7px;
	margin-left:3px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:10px;
	padding-right:5px;
	width: 40px;
	max-width: 40px;
	background: transparent;
	float:right;
	color: #FFFFFF;
	background-color: rgb(63, 63, 63);
}

#contact #sendbutton:hover {
	cursor: pointer;
	cursor: hand;
	background-color: rgb(0, 141, 211);
}

#contact #resetbutton {
	margin-left:3px;
	padding: 5px 10px;
	width: 40px;
	max-width:40px;
	background: transparent;
	float:right;
	color: #FFFFFF;
	background-color: rgb(63, 63, 63);
}

#contact #resetbutton:hover {
	cursor: pointer;
	cursor: hand;
	background-color: rgb(0, 141, 211);
}
/*-------------*/
/*------Contact information-----*/
#contact-information
{
	margin-left: 15%;
	display: block;
	position:relative;
	float:left;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	width: 300px; 
	height: 250px;
	font-family: Open Sans Condensed;
}

.contact-information-details
{
	position:relative;
	float: left;
	width: auto;
	margin-top: 10px;
}

.contact-information-details p
{
	position:relative;
	float: left;
	width: 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-family:Arial;/*PT Sans*/
	font-weight: normal;
	font-size:27px;
	color:#707070; 
	text-align:left;
}
.contact-information-details p a
{
	position:relative;
	float: left;	
	font-family:Arial;/*PT Sans*/
	font-weight: normal;
	text-decoration: none;
	font-size:16px;
	color:#707070; 
	text-align:left;
}
.contact-information-details p a:hover
{
	font-family:Arial;/*PT Sans*/
	font-weight: normal;
	text-decoration: underline;
	font-size:16px;
	color:#4c4c4c; 
	text-align:left;
}
/*------------subMenu--------------------*/
#partners
{
	display: none;
}

#partners.active
{
	display: block;
}

.subMenu
{
	float: right;
	top: 5px;
	position: relative;
	margin:0;
	padding:0;
	margin-right: 10px;
}

.subMenu li
{
	display:block;
	height:auto;
	line-height: normal;
	float:left;
	list-style-type: none;
	margin-left: 10px;
}
.subMenu a
{
	font-size:12px;
	color:#2d2d2d;
	text-decoration: none;
}
.subMenu li.active a{color:#00AACD}
.subMenu a:hover
{
	color: #00AACD;
}





/*.container-item {background-color: #CCCCCC}*/
#content-holder
{
	top: 20px;
	display:block;
	position: absolute;
	width: 100%;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}
#globalNavBar{
	height:50px;
	margin-bottom:0px;
	line-height:1;
	font-size:14px;
	font-size:1.4rem;
	font-weight:400;
	text-transform:uppercase;
	position:absolute;
	width:100%;
	top:0;
	z-index:100;
	border-bottom: 1px solid #E0E0E0;
	/*
	background:#000;
	background:-moz-linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2e2e2e),color-stop(45%,#151515),color-stop(50%,#020202));
	background:-webkit-linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
	background:-o-linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
	background:-ms-linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
	background:linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);*/
}
ul.miniGroup {display:block;position:absolute;top:53px; left:-250px; z-index:99 !important;padding:0; margin:0;}
ul.miniGroup li:first-child {width:200px;}
ul.miniGroup li {margin-bottom:0px; width:200px !important;position:relative;display:block;float:none !important;
background-color:rgba(255,255,255,0.9);

/*
background: #000;
background: -moz-linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2e2e2e),color-stop(45%,#151515),color-stop(50%,#020202));
background: -webkit-linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
background: -o-linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
background: -ms-linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);
background: linear-gradient(top,#2e2e2e 0,#151515 45%,#020202 50%);*/}
ul.miniGroup a{font-size:14px;font-size:0.75rem;color:#2d2d2d;text-decoration:none;display:block;height:46px;letter-spacing:1.5px;border-bottom:2px solid transparent;/*text-shadow:1px 1px 4px #000;*/-webkit-transition:all ease .5s;-moz-transition:all ease .5s;transition:all ease .5s;} 
ul.miniGroup li{padding-left:10px;padding-right:10px;height:50px;line-height:50px;float:left;width:100px;text-align:center;/*box-shadow:-1px -1px 0 0 #000,0px -2px 0 1px #1a1a1a*/} 
ul.miniGroup a:hover{color:#00AACD;border-bottom:2px solid #00AACD}
ul.miniGroup li.active a{border-bottom:2px solid #00AACD}
ul.miniGroup li.active a{color:#00AACD}


#globalNavBar li.home {width: 150px;}
#globalNavBar li.home img {width:100%;margin: 15px 0;}
#globalNavBar ul{list-style:none;margin:0 auto;padding:0}
#globalNavBar ul.navRight{float:right}
#globalNavBar li.minimenu {position:absolute; padding:0; margin:0;width:50px;display:block; left: -50px;}
#globalNavBar li.minimenu img {position:relative display:block;margin-top:18px;}
#globalNavBar li.minimenu a{position: relative; width: 100%; margin: 0; padding: 0;}
#globalNavBar a{font-size:14px;font-size:0.75rem;color:#2d2d2d;text-decoration:none;display:block;height:46px;letter-spacing:1.5px;border-bottom:2px solid transparent;/*text-shadow:1px 1px 4px #000;*/-webkit-transition:all ease .5s;-moz-transition:all ease .5s;transition:all ease .5s;}
#globalNavBar a:hover,#globalNavBar a:focus{color:#00AACD;border-bottom:2px solid #00AACD;}
#globalNavBar li{padding-left:10px;padding-right:10px;height:50px;line-height:50px;float:left;width:100px;text-align:center;/*box-shadow:-1px -1px 0 0 #000,0px -2px 0 1px #1a1a1a*/}
#globalNavBar .compressed li{width:80px}
#globalNavBar .mainGroup li:first-child{width:200px}
#globalNavBar li.active a{border-bottom:2px solid #00AACD}
#globalNavBar li.active a{color:#00AACD}

#globalSubBar
{
	top: 50px;
	display: block;
	position: absolute;
	height: 30px;
	width:100%;
}




#ajax-loader {
	display: block;
	top: 48%;
	left: 48%;
	width: 38px;
	height: 38px;
	position: fixed;
}

#map-holder
{
	border: 1px solid #E0E0E0 !important;
	/*box-shadow:0px 0px 10px #999999;*/
	margin-bottom: 0px;
	width: 98.5%;
	height: 350px;
	top:0px;
	left:0px;
}

#tiles-holder
{
	position: relative;
	width:100%;
	height:100%;
}